@model FPTBook.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<div class="" style="display:flex; flex-direction-row; gap:60px; margin: 0 0 0 0">
    <partial name="_DashboardPartial" />
    <div style="display:flex; justify-content:center;width:80%">
        <div class="" style="width:50%">
            <h1>Edit</h1>

            <h4>Order</h4>
            <hr />
            <div class="row">
                <div class="col">
                    <form asp-action="ChangeStatus" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="UserId" />

                        <input type="hidden" asp-for="DateCheckOut" />
                        <input type="hidden" asp-for="Address" />
                        <input type="hidden" asp-for="CartID" />
                        <input type="hidden" asp-for="Phone" />
                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label"></label>
                            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                            <span asp-validation-for="StatusId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="RecordIndex">Back to List</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
