@model FPTBook.Models.Book

@{
	ViewData["Title"] = "Edit";
}
<div class="" style="display:flex; flex-direction-row; gap:60px; margin: 0 0 0 0">
	<partial name="_DashboardPartial" />
	<div style="display:flex; justify-content:center;width:80%">
		<div class="" style="width:50%">
			<h1>Edit</h1>

			<h4>Book</h4>
			<hr />
			<div class="row">
				<div class="col">
					<form asp-action="Edit" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input asp-for="ImageName" type="hidden"class="form-control" />
						<input type="hidden" asp-for="Id" />
						<input type="hidden" asp-for="StoreOwnerId" />
						<input type="hidden" asp-for="PublicationDate" />
						
						<div class="form-group">
							<label asp-for="Title" class="control-label"></label>
							<input asp-for="Title" class="form-control" />
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Author" class="control-label"></label>
							<input asp-for="Author" class="form-control" />
							<span asp-validation-for="Author" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Description" class="control-label"></label>
							<input asp-for="Description" class="form-control" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Price" class="control-label"></label>
							<input asp-for="Price" class="form-control" />
							<span asp-validation-for="Price" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="ImageFile" class="control-label"></label>
							<input asp-for="ImageFile"accept="image/*" class="form-control" />
							<span asp-validation-for="ImageFile" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="PublisherId" class="control-label"></label>
							<select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
							<span asp-validation-for="CategoryId" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="CategoryId" class="control-label"></label>
							<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
							<span asp-validation-for="CategoryId" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>

			<div>
				<a asp-action="Index">Back to List</a>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
