@model FPTBook.Models.Publisher

@{
    ViewData["Title"] = "Edit";
}
<div class="" style="display:flex; flex-direction-row; gap:60px; margin: 0 0 0 0">
    <partial name="_DashboardPartial" />
    <div style="display:flex; justify-content:center;width:80%">
        <div class="" style="width:50%">
            <h1>Edit</h1>

            <h4>Publisher</h4>
            <hr />
            <div class="row">
                <div class="col">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
